@media screen and (max-width: 768px){
    .header{
        width: 100%;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .hr{
        display: none;
    }
    .main-visual{
        display: none;
    }
    .main-sp{
        margin-top: 63px;
      position: relative;
        display: inline-block;
        width: 100%;
        height: 283px;
        box-sizing: border-box;
    }
    .sp-main-img{
        position: absolute;
        
        width: 100%;
        height: 283px;
        object-fit: cover;
    }
    .main-sp-h2{
        position: absolute;
        top: 134px;
        color:#FFFFFF;
        font-size: 30px;
        margin: 0 auto;
    }
  .navi{
      margin-top: 39px;
      width: 100%;
      box-sizing: border-box;
      
  } 
  .navi-ul{
      width: 100%;
  }
  .navi-img{
      display: none;
  }
  .li-img{
     display: block;
    
    }
    .navi-ul {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .navi-ul li{
        width: 100%;
    }
    .contents{
        width: 100%;
        box-sizing: border-box;
        margin-top: 70px;

    }
    .c1{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
   
    .c1-text{
        width: 100%;
        box-sizing: border-box;
        order: 3;
    }
    .c1-sp-h3{
        display: flex;
        width: 100%;
        box-sizing: border-box;
        order: 1;
        font-size: 34px;
        justify-content: center;
    }
    .c1-h3{
        display: none;
    }
    .c1-img{
        width: 100%;
        order: 2;
    }
    .c1-img img{
        width: 100%;
       
        height: auto;
        box-sizing: border-box;
       
    }
    .c1-p{
        width: 100%;
        box-sizing: border-box;
        
    }
    .c2{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
    }
    .c2-text{
        width: 100%;
        box-sizing: border-box;
        order: 3;
    }
    .c2-h3{
        display: none;
    }
    .c2-sp-h3{
        display: flex;
        justify-content: center;
        width: 100%;
        box-sizing: border-box;
        order: 1;
        font-size: 34px;
    }
    .c2-img {
        width: 100%;
        box-sizing: border-box;
        order: 2;
    }
    .c2-img img{
        width: 100%;
    }
    .c2-p{
        width: 100%;
        box-sizing: border-box;
     
    }


    .news{
        width: 100%;
        margin-top: 60px;
        padding: 0 auto;
    }
    .news-container{
        padding-top: 0px;
    }
    .news-dl {
       display: flex;
       flex-wrap: nowrap;
    }
    .news-dl  dd{
        display: flex;
        flex-wrap: nowrap;
        overflow: auto;
    }
    .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner-box{
        width: 100%;
    }
    .footer{
        width: 100%;
       margin-top: 50px;
        
    }
    .footer-rigft{
        order: 1;
    }
    .footer-top{
        width: 100%;
        
        display: flex;
        flex-direction: column;
    }
    .footer-list{
        width: 100%;
       padding-top: 50px;
       
    }
    .footer-list ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        
    }
    .footer-left{
        display: flex;
        justify-content: space-around;
        order: 2;
    }
    .footer-bottom{
        width: 100%;
        
    }
    .footer-list ul li{
        width: 100%;
        padding: 18px 0;
        background-color: #fff;
        border: 1px solid #707070;
       
        
    }
}